<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="./stylesheet.css">
</head>

<body>

    <main class="main">
        <article class="login_title_container">
            <h2>Login </h2>
        </article>
        <section>
            <form action="/login" method="POST">
                <div class="tile">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" name="email" />
                </div>
                <div class="tile">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" name="password" />
                </div>
                <div class="btn_container">
                    <button type="submit">Login</button>
                </div>
            </form>
        </section>
        <article>
            <p> <a href="/register">Register</a> here</p>
        </article>
    </main>
</body>

</html>